<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>传输数据</h1>
  <button id="btn">sendJson</button>
  <button id="btn2">sendText</button>
  <h1>获取JSON</h1>
  <a th:href="@{/getJson}">获取JSON</a>
  <script>
    var element = document.getElementById("btn");
    element.addEventListener("click", function (event) {
      var obj = {
        username: "张三",
        password: "qwe123",
        money: 50
      }
      var xhr = new XMLHttpRequest();
      xhr.open("post", "/xml/sendJson")
      xhr.send(JSON.stringify(obj))
    })
    var element2 = document.getElementById("btn2");
    element2.addEventListener("click", function (event) {
        var obj = "123456"
        var xhr = new XMLHttpRequest();
        xhr.open("post", "/xml/sendJson")
        xhr.send(obj)
    })
  </script>
</body>
</html>